{
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", { "modules": false, "targets": { "esmodules": true } }],
        ["@babel/preset-react", { "runtime": "automatic", "development": false }]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        ["@babel/preset-react", { "runtime": "automatic", "development": false }]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
